<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfyp">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="SmartGuide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OfficeHoursMainPage"></activity>
        <activity android:name=".RoomMembersMainPage" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".ViewOfficeHours" />
        <activity android:name=".ViewRoomMembers" />
        <activity android:name=".ViewRoom" />
        <activity android:name=".AdminSignup" />
        <activity android:name=".RoomMainPage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddPictures"/>
        <activity android:name=".AddOfficeHours" />
        <activity android:name=".AddRoomMembers" />
        <activity android:name=".AddRoom" />
        <activity android:name=".AdminDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>